<% var title = 'aboutのタイトルタグ'; %>
<% var description = 'aboutのディスクリプション'; %>
<% var path = '..'; %>
<% include ../common/_header %>

<!-- /content -->
<div id="content">
<div class="inner">

<% include ../common/parts/_container-1 %>

</div><!-- /inner -->
</div><!-- /content -->

<% include ../common/_footer %>
